In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib qt

import data
import mne
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import scipy
import pingouin as pg
from os import listdir
from os.path import isfile, join

sns.set(font_scale=1)

## Loading Data

In [13]:
path = 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/'
xdf_files = [xdf for xdf in listdir(path) if isfile(join(path, xdf))]

for i in range(len(xdf_files)):
    xdf_files[i] = path + xdf_files[i]

In [14]:
xdf_files

['C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S10_2022-05-24.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S11_2022-05-30.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S12_2022-05-31.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S6_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S7_2022-05-19.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S8_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S9_2022-05-23.xdf']

In [20]:
participants = data.preprocessing(xdf_files)

Stream 5: Calculated effective sampling rate 94.9479 Hz is different from specified rate 60.0000 Hz.
Stream 5: Calculated effective sampling rate 95.2967 Hz is different from specified rate 60.0000 Hz.
Stream 4: Calculated effective sampling rate 94.8056 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.1886 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.0603 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 95.1981 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.1530 Hz is different from specified rate 60.0000 Hz.

In [21]:
participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24','S11_2022-05-30']

## Data

In [22]:
participant = participants_list[5]
blocks_df = participants[participant]['Blocks']
math_tasks_df = participants[participant]['MathTasks']
tone_tasks_df = participants[participant]['ToneTasks']
keyboard_df = participants[participant]['Keyboard']
quest_df = participants[participant]['Questionnaire']

In [7]:
participant

'S11_2022-05-30'

In [8]:
blocks_df.head(5)

   block_idx  block_id    lsl_end_ts   lsl_init_ts
0        0.0       0.0  21909.225034  21885.894168
1        1.0       1.0  22029.228238  21909.225774
2        2.0       2.0  22044.335683  22029.228500
3        3.0       3.0  22165.309428  22044.340204
4        4.0       4.0  22195.931387  22165.311342

### Blocks

In [8]:
print(blocks_df)

    block_idx  block_id    lsl_end_ts   lsl_init_ts
0         0.0       0.0  21909.225034  21885.894168
1         1.0       1.0  22029.228238  21909.225774
2         2.0       2.0  22044.335683  22029.228500
3         3.0       3.0  22165.309428  22044.340204
4         4.0       4.0  22195.931387  22165.311342
5         5.0       5.0  22210.264091  22195.931116
6         6.0       6.0  22240.368197  22210.265711
7         7.0       7.0  22270.778738  22240.369532
8         8.0       8.0  22301.091478  22270.779887
9         9.0       9.0  22305.388622  22301.091250
10       10.0      10.0  22335.412941  22305.388886
11       11.0      12.0  22346.271657  22335.412831
12       12.0      11.0  22453.229245  22346.271456
13       13.0      10.0  22753.250409  22453.229944
14       14.0      16.0  22783.315620  22753.249691
15       15.0      10.0  23083.370724  22783.314866
16       16.0      16.0  23113.376419  23083.369576
17       17.0      10.0  23413.468544  23113.371012
18       18.0      16.0  23443.529871  23413.468465
19       19.0      10.0  23743.570587  23443.529438
20       20.0      11.0  23812.804146  23743.570403
21       21.0      10.0  24112.893222  23812.803912
22       22.0      16.0  24142.979701  24112.894027
23       23.0      10.0  24443.033957  24142.979458
24       24.0      16.0  24473.124578  24443.033969
25       25.0      10.0  24773.191263  24473.124647
26       26.0      16.0  24803.269607  24773.191262
27       27.0      10.0  25103.364232  24803.269175
28       28.0      11.0  25157.592545  25103.364558
29       29.0      10.0  25457.633685  25157.594433
30       30.0      16.0  25487.714152  25457.633125
31       31.0      10.0  25787.773223  25487.715159
32       32.0      16.0  25817.876274  25787.773142
33       33.0      10.0  26117.916676  25817.876923
34       34.0      16.0  26147.920127  26117.917374
35       35.0      10.0  26448.014921  26147.924420
36       36.0      11.0  26504.707676  26448.015462
37       37.0      13.0  26521.045450  26504.707009
38       38.0       1.0  26641.098375  26521.046229
39       39.0      14.0  26648.005530  26641.098883
40       40.0       3.0  26768.867369  26648.006525
41       41.0      15.0  26773.699777  26768.866457

In [23]:
print(tone_tasks_df)

      block_idx  task_idx   stimulus_ts  stimulus_id  lsl_stimulus_ts  \
0           8.0       9.0  1.653918e+09          1.0     22272.567839
1           8.0       9.0  1.653918e+09          1.0     22274.355210
2           8.0       9.0  1.653918e+09          1.0     22276.142459
3           8.0       9.0  1.653918e+09          1.0     22277.928473
4           8.0       9.0  1.653918e+09          1.0     22279.723963
...         ...       ...           ...          ...              ...
2072       35.0     917.0  1.653922e+09          1.0     26441.022230
2073       35.0     917.0  1.653922e+09          1.0     26442.809449
2074       35.0     917.0  1.653922e+09          1.0     26444.609979
2075       35.0     917.0  1.653922e+09          1.0     26446.334990
2076       35.0     917.0  1.653922e+09          1.0     26448.014903

      space_ts  rt
0          NaN NaN
1          NaN NaN
2          NaN NaN
3          NaN NaN
4          NaN NaN
...        ...  ..
2072       NaN NaN
2073       NaN NaN
2074       NaN NaN
2075       NaN NaN
2076       NaN NaN

[2077 rows x 7 columns]

In [12]:
import time
time.time()

1654089176.5029047

In [9]:
init_time = blocks_df['lsl_init_ts'][0]
blocks_df['lsl_end_ts'] = blocks_df['lsl_end_ts']-init_time
blocks_df['lsl_init_ts'] = blocks_df['lsl_init_ts']-init_time
print(blocks_df)

    block_idx  block_id   lsl_end_ts  lsl_init_ts
0         0.0       0.0    23.330866     0.000000
1         1.0       1.0   143.334070    23.331606
2         2.0       2.0   158.441515   143.334332
3         3.0       3.0   279.415260   158.446036
4         4.0       4.0   310.037219   279.417174
5         5.0       5.0   324.369923   310.036948
6         6.0       6.0   354.474029   324.371543
7         7.0       7.0   384.884570   354.475364
8         8.0       8.0   415.197310   384.885718
9         9.0       9.0   419.494454   415.197082
10       10.0      10.0   449.518773   419.494718
11       11.0      12.0   460.377489   449.518663
12       12.0      11.0   567.335077   460.377288
13       13.0      10.0   867.356241   567.335775
14       14.0      16.0   897.421452   867.355523
15       15.0      10.0  1197.476556   897.420698
16       16.0      16.0  1227.482251  1197.475408
17       17.0      10.0  1527.574376  1227.476844
18       18.0      16.0  1557.635703  1527.574297
19       19.0      10.0  1857.676419  1557.635269
20       20.0      11.0  1926.909978  1857.676235
21       21.0      10.0  2226.999054  1926.909744
22       22.0      16.0  2257.085533  2226.999859
23       23.0      10.0  2557.139789  2257.085290
24       24.0      16.0  2587.230410  2557.139801
25       25.0      10.0  2887.297095  2587.230479
26       26.0      16.0  2917.375439  2887.297094
27       27.0      10.0  3217.470064  2917.375007
28       28.0      11.0  3271.698377  3217.470390
29       29.0      10.0  3571.739517  3271.700265
30       30.0      16.0  3601.819984  3571.738957
31       31.0      10.0  3901.879055  3601.820991
32       32.0      16.0  3931.982106  3901.878974
33       33.0      10.0  4232.022508  3931.982755
34       34.0      16.0  4262.025959  4232.023206
35       35.0      10.0  4562.120753  4262.030252
36       36.0      11.0  4618.813507  4562.121294
37       37.0      13.0  4635.151282  4618.812841
38       38.0       1.0  4755.204207  4635.152061
39       39.0      14.0  4762.111361  4755.204715
40       40.0       3.0  4882.973201  4762.112357
41       41.0      15.0  4887.805609  4882.972289

### Math task

In [10]:
math_tasks_df['lsl_end_ts'] = math_tasks_df['lsl_end_ts']-init_time
math_tasks_df['lsl_init_ts'] = math_tasks_df['lsl_init_ts']-init_time
print(math_tasks_df)

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts
0          6.0       2.0      1.0   330.771024   324.370310
1          6.0       3.0      1.0   339.872625   330.771515
2          6.0       4.0      1.0   344.125599   339.873337
3          6.0       5.0      1.0   349.345039   344.126327
4          6.0       6.0      1.0   352.472983   349.344903
..         ...       ...      ...          ...          ...
992       35.0    1009.0      1.0  4552.572510  4550.333368
993       35.0    1010.0      1.0  4554.181413  4552.572183
994       35.0    1011.0      1.0  4557.241097  4554.182390
995       35.0    1012.0      1.0  4560.334998  4557.241877
996       35.0    1013.0     -1.0  4562.120716  4560.334985

[997 rows x 5 columns]

In [11]:
end_ts_df = math_tasks_df['lsl_end_ts']
init_ts_df = math_tasks_df['lsl_init_ts']

# Reaction times:
rt = end_ts_df - init_ts_df

# Answers:
answers = math_tasks_df['correct']

In [13]:
# Linear regression
x_fit = []
for i in range(len(rt)):
    x_fit.append(i)

slope, intercept = np.polyfit(x_fit, rt, deg=1) # régression linéaire pour trouver la pente
# --> regarder si c'est significatif ou pas, pcq si c'est pas le cas, on peut dire que la différence n'est pas important
# mais qu'on voit voit quand mm qu'à la fin ya des cas avec des grosses amplitudes
x = range(len(rt))
#x = np.linspace(0,len(rt),100)
y = slope*x+intercept

plt.figure(figsize=(12, 6))
plt.xlabel("Tasks")
plt.ylabel("Reaction Time [s]")
plt.plot(x,rt)
plt.scatter(x,answers,c='g',label="Answers: 1 = correct, 0 = false, -1 = no answer")
plt.plot(x,y,label='Slope = '+str(round(slope,4)))
plt.legend(loc='upper right')
plt.savefig('MathTask_S11.png', dpi=300, bbox_inches='tight')

### Tone task

In [11]:
tone_tasks_df['stimulus_ts'] = tone_tasks_df['stimulus_ts']-init_time
print(tone_tasks_df)

#CHECKER ENCORE LE TEMPS DU TONE TASK

      block_idx  task_idx   stimulus_ts  stimulus_id  space_ts  rt
0           8.0       8.0  1.652772e+09          1.0       NaN NaN
1           8.0       8.0  1.652772e+09          1.0       NaN NaN
2           8.0       8.0  1.652772e+09          1.0       NaN NaN
3           8.0       8.0  1.652772e+09          0.0       NaN NaN
4           8.0       8.0  1.652772e+09          0.0       NaN NaN
...         ...       ...           ...          ...       ...  ..
2035       35.0     706.0  1.652776e+09          1.0       NaN NaN
2036       35.0     706.0  1.652776e+09          1.0       NaN NaN
2037       35.0     706.0  1.652776e+09          1.0       NaN NaN
2038       35.0     706.0  1.652776e+09          0.0       NaN NaN
2039       35.0     706.0  1.652776e+09          0.0       NaN NaN

[2040 rows x 6 columns]

### Keyboard

In [12]:
keyboard_df['reaction_ts'] = keyboard_df['reaction_ts']-init_time
print(keyboard_df)

            events  reaction_ts
32   SPACE pressed   486.846550
34   SPACE pressed   488.621260
36   SPACE pressed   504.760111
38   SPACE pressed   524.362161
40   SPACE pressed   529.739064
..             ...          ...
768  SPACE pressed  4647.891359
770  SPACE pressed  4651.444462
772  SPACE pressed  4679.967525
774  SPACE pressed  4681.679230
776  SPACE pressed  4688.620574

[373 rows x 2 columns]

### Questionnaire

In [13]:
quest_df

,question_1,question_2,question_3,question_4,question_5,question_6,question_7,question_113,question_214,question_315,question_416,question_517,question_518,question_519
0,1.0,1.0,1.0,0.0,1.0,2.0,1.0,3.0,6.0,0.0,2.0,0.0,3.0,0.0
1,1.0,2.0,0.0,0.0,1.0,0.0,3.0,3.0,4.0,0.0,0.0,1.0,0.0,1.0
2,1.0,2.0,3.0,0.0,1.0,0.0,2.0,2.0,2.0,0.0,4.0,1.0,1.0,1.0
3,2.0,4.0,4.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,5.0,2.0,3.0,2.0

## Plots

### Math task

### Tone Task