In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib qt

import data
import mne
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import scipy
import pingouin as pg
from os import listdir
from os.path import isfile, join

sns.set(font_scale=1)

## Loading Data

In [2]:
path = 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/'
xdf_files = [xdf for xdf in listdir(path) if isfile(join(path, xdf))]

for i in range(len(xdf_files)):
    xdf_files[i] = path + xdf_files[i]

In [3]:
xdf_files

['C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S10_2022-05-24.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S6_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S7_2022-05-19.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S8_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S9_2022-05-23.xdf']

In [4]:
participants = data.preprocessing(xdf_files)

Stream 5: Calculated effective sampling rate 94.9479 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.1886 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.0603 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 95.1981 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.1530 Hz is different from specified rate 60.0000 Hz.

In [5]:
participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24']

## Data

In [8]:
participant = participants_list[0]
blocks_df = participants[participant]['Blocks']
math_tasks_df = participants[participant]['MathTasks']
tone_tasks_df = participants[participant]['ToneTasks']
keyboard_df = participants[participant]['Keyboard']
quest_df = participants[participant]['Questionnaire']

In [9]:
participant

'S6_2022-05-20'

In [10]:
blocks_df.head(5)

   block_idx  block_id     lsl_end_ts    lsl_init_ts
0        0.0       0.0  262488.627172  262474.084099
1        1.0       1.0  262608.682438  262488.627495
2        2.0       2.0  262625.133896  262608.681696
3        3.0       3.0  262746.139214  262625.137534
4        4.0       4.0  262795.295077  262746.141591

### Blocks

In [11]:
init_time = blocks_df['lsl_init_ts'][0]
blocks_df['lsl_end_ts'] = blocks_df['lsl_end_ts']-init_time
blocks_df['lsl_init_ts'] = blocks_df['lsl_init_ts']-init_time
print(blocks_df)

    block_idx  block_id   lsl_end_ts  lsl_init_ts
0         0.0       0.0    14.543073     0.000000
1         1.0       1.0   134.598339    14.543396
2         2.0       2.0   151.049797   134.597597
3         3.0       3.0   272.055115   151.053435
4         4.0       4.0   321.210978   272.057492
5         5.0       5.0   344.074803   321.211886
6         6.0       6.0   374.093161   344.077179
7         7.0       7.0   421.928074   374.095996
8         8.0       8.0   451.990901   421.929526
9         9.0       9.0   455.535507   451.990975
10       10.0      10.0   485.551150   455.537408
11       11.0      12.0   509.606660   485.552469
12       12.0      11.0   610.082688   509.607693
13       13.0      10.0   910.148503   610.082394
14       14.0      16.0   940.194022   910.148732
15       15.0      10.0  1240.203352   940.193986
16       16.0      16.0  1270.246722  1240.203116
17       17.0      10.0  1570.282485  1270.248955
18       18.0      16.0  1600.314823  1570.282280
19       19.0      10.0  1900.393080  1600.315537
20       20.0      11.0  1962.752051  1900.392603
21       21.0      10.0  2262.824342  1962.752762
22       22.0      16.0  2292.907562  2262.823942
23       23.0      10.0  2592.913173  2292.911578
24       24.0      16.0  2622.957135  2592.913455
25       25.0      10.0  2923.025824  2622.957296
26       26.0      16.0  2953.055757  2923.025623
27       27.0      10.0  3253.096508  2953.056155
28       28.0      11.0  3316.960827  3253.095712
29       29.0      10.0  3617.003412  3316.952868
30       30.0      16.0  3647.057386  3617.003950
31       31.0      10.0  3947.111101  3647.054199
32       32.0      16.0  3977.172032  3947.111426
33       33.0      10.0  4277.228312  3977.171113
34       34.0      16.0  4307.312675  4277.228410
35       35.0      10.0  4607.391399  4307.313216
36       36.0      11.0  4654.130473  4607.390874
37       37.0      13.0  4661.735714  4654.130979
38       38.0       1.0  4781.737664  4661.735794
39       39.0      14.0  4785.291423  4781.737824
40       40.0       3.0  4906.166052  4785.291354
41       41.0      15.0  4909.826137  4906.165408

### Math task

In [12]:
math_tasks_df['lsl_end_ts'] = math_tasks_df['lsl_end_ts']-init_time
math_tasks_df['lsl_init_ts'] = math_tasks_df['lsl_init_ts']-init_time
print(math_tasks_df)

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts
0          6.0       2.0      1.0   352.163282   344.075977
1          6.0       3.0      1.0   360.712378   352.163533
2          6.0       4.0      1.0   368.397000   360.712278
3          6.0       5.0     -1.0   374.093139   368.398029
4         10.0       9.0      0.0   464.951936   455.536926
..         ...       ...      ...          ...          ...
559       35.0     576.0      1.0  4579.451932  4574.175477
560       35.0     577.0      1.0  4586.685811  4579.452102
561       35.0     578.0      1.0  4594.122186  4586.685834
562       35.0     579.0      1.0  4597.452530  4594.122211
563       35.0     580.0     -1.0  4607.391377  4597.453224

[564 rows x 5 columns]

In [27]:
end_ts_df = math_tasks_df['lsl_end_ts']
init_ts_df = math_tasks_df['lsl_init_ts']

# Reaction times:
rt = end_ts_df - init_ts_df

# Answers:
answers = math_tasks_df['correct']

In [28]:
# Linear regression
x_fit = []
for i in range(len(rt)):
    x_fit.append(i)

slope, intercept = np.polyfit(x_fit, rt, deg=1) # régression linéaire pour trouver la pente
# --> regarder si c'est significatif ou pas, pcq si c'est pas le cas, on peut dire que la différence n'est pas important
# mais qu'on voit voit quand mm qu'à la fin ya des cas avec des grosses amplitudes
x = range(len(rt))
#x = np.linspace(0,len(rt),100)
y = slope*x+intercept

plt.figure()
plt.xlabel("Tasks")
plt.ylabel("Reaction Time [s]")
plt.plot(x,rt)
plt.scatter(x,answers,c='g',label="Answers: 1 = correct, 0 = false, -1 = no answer")
plt.plot(x,y,label='Slope = '+str(round(slope,4)))
plt.legend(loc='upper right')

### Tone task

In [11]:
tone_tasks_df['stimulus_ts'] = tone_tasks_df['stimulus_ts']-init_time
print(tone_tasks_df)

#CHECKER ENCORE LE TEMPS DU TONE TASK

      block_idx  task_idx   stimulus_ts  stimulus_id  space_ts  rt
0           8.0       8.0  1.652772e+09          1.0       NaN NaN
1           8.0       8.0  1.652772e+09          1.0       NaN NaN
2           8.0       8.0  1.652772e+09          1.0       NaN NaN
3           8.0       8.0  1.652772e+09          0.0       NaN NaN
4           8.0       8.0  1.652772e+09          0.0       NaN NaN
...         ...       ...           ...          ...       ...  ..
2035       35.0     706.0  1.652776e+09          1.0       NaN NaN
2036       35.0     706.0  1.652776e+09          1.0       NaN NaN
2037       35.0     706.0  1.652776e+09          1.0       NaN NaN
2038       35.0     706.0  1.652776e+09          0.0       NaN NaN
2039       35.0     706.0  1.652776e+09          0.0       NaN NaN

[2040 rows x 6 columns]

### Keyboard

In [12]:
keyboard_df['reaction_ts'] = keyboard_df['reaction_ts']-init_time
print(keyboard_df)

            events  reaction_ts
32   SPACE pressed   486.846550
34   SPACE pressed   488.621260
36   SPACE pressed   504.760111
38   SPACE pressed   524.362161
40   SPACE pressed   529.739064
..             ...          ...
768  SPACE pressed  4647.891359
770  SPACE pressed  4651.444462
772  SPACE pressed  4679.967525
774  SPACE pressed  4681.679230
776  SPACE pressed  4688.620574

[373 rows x 2 columns]

### Questionnaire

In [13]:
quest_df

,question_1,question_2,question_3,question_4,question_5,question_6,question_7,question_113,question_214,question_315,question_416,question_517,question_518,question_519
0,1.0,1.0,1.0,0.0,1.0,2.0,1.0,3.0,6.0,0.0,2.0,0.0,3.0,0.0
1,1.0,2.0,0.0,0.0,1.0,0.0,3.0,3.0,4.0,0.0,0.0,1.0,0.0,1.0
2,1.0,2.0,3.0,0.0,1.0,0.0,2.0,2.0,2.0,0.0,4.0,1.0,1.0,1.0
3,2.0,4.0,4.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,5.0,2.0,3.0,2.0

## Plots

### Math task

### Tone Task