In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib qt

import data
import mne
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt
import os
import scipy
import pingouin as pg
from os import listdir
from os.path import isfile, join

sns.set(font_scale=1)

## Loading Data

In [2]:
path = 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/'
xdf_files = [xdf for xdf in listdir(path) if isfile(join(path, xdf))]

for i in range(len(xdf_files)):
    xdf_files[i] = path + xdf_files[i]

In [3]:
xdf_files

['C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S10_2022-05-24.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S11_2022-05-30.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S12_2022-05-31.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S13_2022-06-01.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S14_2022-06-03.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S15_2022-06-07.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S16_2022-06-08.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S17_2022-06-13.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S18_2022-06-15.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S19_2022-06-15.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S6_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S7_2022-05-19.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S8_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S9_2022-05-23.xdf']

In [4]:
participants = data.preprocessing(xdf_files)

Stream 5: Calculated effective sampling rate 94.9479 Hz is different from specified rate 60.0000 Hz.
Stream 5: Calculated effective sampling rate 95.2967 Hz is different from specified rate 60.0000 Hz.
Stream 4: Calculated effective sampling rate 94.8056 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 94.8889 Hz is different from specified rate 60.0000 Hz.
Stream 3: Calculated effective sampling rate 95.0246 Hz is different from specified rate 60.0000 Hz.
Stream 5: Calculated effective sampling rate 95.0075 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 94.8952 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.0526 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 94.8175 Hz is different from specified rate 60.0000 Hz.
Stream 3: Calculated effective sampling rate 94.9544 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.1886 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.0603 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 95.1981 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.1530 Hz is different from specified rate 60.0000 Hz.

## Data

In [5]:
participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24',
                     'S11_2022-05-30', 'S12_2022-05-31', 'S13_2022-06-01', 'S14_2022-06-03','S15_2022-06-07',
                     'S16_2022-06-08', 'S17_2022-06-13', 'S18_2022-06-15', 'S19_2022-06-15']

In [31]:
participant = participants_list[11]
blocks_df = participants[participant]['Blocks']
math_tasks_df = participants[participant]['MathTasks']
tone_tasks_df = participants[participant]['ToneTasks']
keyboard_df = participants[participant]['Keyboard']
quest_df = participants[participant]['Questionnaire']

In [32]:
participant

'S17_2022-06-13'

### Blocks

In [33]:
init_time = blocks_df['lsl_init_ts'][0]
blocks_df['lsl_end_ts'] = blocks_df['lsl_end_ts']-init_time
blocks_df['lsl_init_ts'] = blocks_df['lsl_init_ts']-init_time

In [34]:
blocks_df

    block_idx  block_id   lsl_end_ts  lsl_init_ts
0         0.0       0.0    11.481291     0.000000
1         1.0       1.0   131.542562    11.482046
2         2.0       2.0   143.722349   131.542704
3         3.0       3.0   264.718344   143.721941
4         4.0       4.0   290.682279   264.718899
5         5.0       5.0   297.893673   290.682485
6         6.0       6.0   327.914586   297.894038
7         7.0       7.0   361.450967   327.914752
8         8.0       8.0   391.508382   361.450796
9         9.0       9.0   391.879044   391.508127
10       10.0      10.0   421.918174   391.878813
11       11.0      12.0   427.605366   421.918766
12       12.0      11.0   578.805872   427.604954
13       13.0      10.0   878.828402   578.794109
14       14.0      16.0   908.827187   878.825738
15       15.0      10.0  1208.905520   908.809839
16       16.0      16.0  1239.004821  1208.905488
17       17.0      10.0  1539.042247  1239.004024
18       18.0      16.0  1569.135605  1539.043070
19       19.0      10.0  1869.226003  1569.136923
20       20.0      11.0  1930.184008  1869.225750
21       21.0      10.0  2230.220471  1930.185642
22       22.0      16.0  2260.221630  2230.220265
23       23.0      10.0  2560.300169  2260.221816
24       24.0      16.0  2590.394912  2560.300004
25       25.0      10.0  2890.469941  2590.399476
26       26.0      16.0  2920.474079  2890.471169
27       27.0      10.0  3220.517359  2920.485970
28       28.0      11.0  3282.463663  3220.518343
29       29.0      10.0  3582.556989  3282.468232
30       30.0      16.0  3612.562208  3582.556942
31       31.0      10.0  3912.590877  3612.558245
32       32.0      16.0  3942.589807  3912.588214
33       33.0      10.0  4242.664934  3942.572293
34       34.0      16.0  4272.668039  4242.663894
35       35.0      10.0  4572.661759  4272.660781
36       36.0      11.0  4606.769521  4572.661639
37       37.0      13.0  4620.629974  4606.768702
38       38.0       1.0  4740.687628  4620.628320
39       39.0      14.0  4743.408310  4740.687621
40       40.0       3.0  4864.326598  4743.408520
41       41.0      15.0  4868.393731  4864.325808

## Plots for a single participant

### Math task

In [35]:
participant

'S17_2022-06-13'

In [36]:
math_tasks_df['lsl_end_ts'] = math_tasks_df['lsl_end_ts']-init_time
math_tasks_df['lsl_init_ts'] = math_tasks_df['lsl_init_ts']-init_time

In [37]:
math_tasks_df

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts
0          6.0       2.0      1.0   310.460603   297.894229
1          6.0       3.0     -1.0   327.914569   310.460394
2         10.0       7.0      1.0   399.885698   391.878813
3         10.0       8.0      1.0   406.163031   399.886496
4         10.0       9.0      1.0   412.868027   406.163024
..         ...       ...      ...          ...          ...
499       35.0     516.0      1.0  4540.347266  4536.443167
500       35.0     517.0      1.0  4545.792239  4540.347207
501       35.0     518.0      1.0  4551.856580  4545.792409
502       35.0     519.0      0.0  4557.841461  4551.856247
503       35.0     520.0     -1.0  4572.661732  4557.841383

[504 rows x 5 columns]

In [38]:
end_ts_df = math_tasks_df['lsl_end_ts']
init_ts_df = math_tasks_df['lsl_init_ts']

# Reaction times:
rt_math = end_ts_df - init_ts_df

# Answers:
answers = math_tasks_df['correct']

In [39]:
math_tasks_df.insert(5, "rt", rt_math, True)

In [40]:
math_tasks_df

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts         rt
0          6.0       2.0      1.0   310.460603   297.894229  12.566374
1          6.0       3.0     -1.0   327.914569   310.460394  17.454174
2         10.0       7.0      1.0   399.885698   391.878813   8.006885
3         10.0       8.0      1.0   406.163031   399.886496   6.276535
4         10.0       9.0      1.0   412.868027   406.163024   6.705003
..         ...       ...      ...          ...          ...        ...
499       35.0     516.0      1.0  4540.347266  4536.443167   3.904099
500       35.0     517.0      1.0  4545.792239  4540.347207   5.445032
501       35.0     518.0      1.0  4551.856580  4545.792409   6.064171
502       35.0     519.0      0.0  4557.841461  4551.856247   5.985215
503       35.0     520.0     -1.0  4572.661732  4557.841383  14.820349

[504 rows x 6 columns]

In [41]:
false_math_idx = math_tasks_df.index[math_tasks_df['correct'] == 0.0].tolist()
# Linear regression
x_fit = []
for i in range(len(rt_math)):
    x_fit.append(i)

slope_math, intercept_math = np.polyfit(x_fit, rt_math, deg=1) # régression linéaire pour trouver la pente
# --> regarder si c'est significatif ou pas, pcq si c'est pas le cas, on peut dire que la différence n'est pas important
# mais qu'on voit voit quand mm qu'à la fin ya des cas avec des grosses amplitudes
x = range(len(rt_math))
y = slope_math*x+intercept_math
y_zeros = np.zeros(len(false_math_idx))

plt.figure(figsize=(12, 6))
plt.xlabel("Tasks")
plt.ylabel("Reaction Time [s]")
plt.plot(x, rt_math,c='b') # reaction times
#plt.plot(x,rt_math,'-o', markevery=false_math_idx,c='b')
#plt.scatter(x,answers,c='g',label="Answers: 1 = correct, 0 = false, -1 = no answer")
plt.plot(x,y,label='Slope = '+str(round(slope_math,4)),c='g') # linear regression
plt.scatter(false_math_idx, y_zeros, label='False responses', c='r') # false responses
plt.legend(loc='upper right')
plt.savefig('RT_curve_S18.png', dpi=300, bbox_inches='tight')

In [42]:
task_blocks = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
fig, ax = plt.subplots(figsize=(12,4))

for idx, block_idx in enumerate(task_blocks):
    sns.boxplot(x='block_idx', y='rt', data=math_tasks_df[math_tasks_df.block_idx.isin(task_blocks)].astype({"block_idx": int}), ax=ax)
    ax.set_xlabel("Blocks")
    ax.set_ylabel("RT [s]");

In [43]:
reduced_math_tasks_df = math_tasks_df.loc[(math_tasks_df['block_idx'] > 12.0)]
ax = sns.countplot(x='block_idx', hue='correct', data=reduced_math_tasks_df.astype({"correct": int, "block_idx": int}))
ax.set_xlabel("Block Idx")
ax.set_ylabel("Count")
legend = ax.get_legend()
legend.set_title("Answers")
new_labels = ["Missed", "Wrong", "Right"]
for t, l in zip(legend.texts, new_labels):
    t.set_text(l);

### Tone task

In [44]:
participant

'S17_2022-06-13'

In [45]:
tone_tasks_df['stimulus_ts'] = tone_tasks_df['stimulus_ts']-init_time
tone_tasks_df['space_ts'] = tone_tasks_df['space_ts']-init_time

In [46]:
tone_tasks_df = participants[participant]['ToneTasks']
response_tone = []

for idx, row in tone_tasks_df.iterrows():
    if ((row["stimulus_id"] == 0.0) and (np.isnan(row["space_ts"]))):
        response_tone.append('Missed')
    elif ((row["stimulus_id"] == 1.0) and not np.isnan(row["space_ts"])):
        response_tone.append('False Alarm')
    else:
        response_tone.append('Correct')
        
tone_tasks_df.insert(6, "response", response_tone, True)

In [47]:
tone_tasks_df.head(20)

,block_idx,task_idx,stimulus_ts,stimulus_id,space_ts,rt,response
0,8.0,5.0,363.188958,1.0,NaN,NaN,Correct
1,8.0,5.0,364.925298,1.0,NaN,NaN,Correct
2,8.0,5.0,366.661931,1.0,NaN,NaN,Correct
3,8.0,5.0,368.397709,1.0,NaN,NaN,Correct
4,8.0,5.0,370.134053,1.0,NaN,NaN,Correct
5,8.0,5.0,371.867016,1.0,NaN,NaN,Correct
6,8.0,5.0,373.602600,1.0,NaN,NaN,Correct
7,8.0,5.0,375.338376,0.0,375.986876,0.648500,Correct
8,8.0,5.0,377.110079,1.0,NaN,NaN,Correct
9,8.0,5.0,378.846443,1.0,NaN,NaN,Correct
10,8.0,5.0,380.582561,1.0,NaN,NaN,Correct
11,8.0,5.0,382.321402,1.0,NaN,NaN,Correct
12,8.0,5.0,384.054905,1.0,NaN,NaN,Correct
13,8.0,5.0,385.790687,1.0,NaN,NaN,Correct
14,8.0,5.0,387.525869,1.0,NaN,NaN,Correct
15,8.0,5.0,389.260662,1.0,NaN,NaN,Correct
16,8.0,5.0,390.994892,0.0,391.777041,0.782149,Correct
17,8.0,5.0,391.508362,0.0,391.777041,0.268679,Correct
18,10.0,6.0,393.642101,1.0,NaN,NaN,Correct
19,10.0,6.0,395.378248,1.0,NaN,NaN,Correct

In [48]:
high_tone_tasks_df = tone_tasks_df.loc[tone_tasks_df['stimulus_id']==0.0]

In [49]:
high_tone_tasks_df

,block_idx,task_idx,stimulus_ts,stimulus_id,space_ts,rt,response
7,8.0,5.0,375.338376,0.0,375.986876,0.648500,Correct
16,8.0,5.0,390.994892,0.0,391.777041,0.782149,Correct
17,8.0,5.0,391.508362,0.0,391.777041,0.268679,Correct
26,10.0,6.0,407.590770,0.0,408.372055,0.781285,Correct
39,13.0,12.0,585.785928,0.0,586.542849,0.756921,Correct
...,...,...,...,...,...,...,...
2088,35.0,472.0,4538.179491,0.0,4539.001473,0.821983,Correct
2089,35.0,472.0,4539.979232,0.0,NaN,NaN,Missed
2101,35.0,472.0,4561.010315,0.0,4561.853493,0.843179,Correct
2102,35.0,472.0,4562.771298,0.0,4563.574479,0.803181,Correct
2105,35.0,472.0,4567.972432,0.0,4568.782437,0.810005,Correct

In [50]:
#high_tone_tasks_df.reset_index()

In [51]:
# participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24',
#                      'S11_2022-05-30','S12_2022-05-31','S13_2022-06-01', 'S14_2022-06-03']

# for name_id in range(len(participants_list)):
#     name =  participants_list[name_id]
#     tone_tasks_df = participants[name]['ToneTasks']
#     for idx, row in tone_tasks_df.iterrows():
#         if ((row["stimulus_id"] == 0.0) and (np.isnan(row["space_ts"]))):
#             print(name)
#             print(idx)
#             print('Missed')
            
# for name_id in range(len(participants_list)):
#     name =  participants_list[name_id]
#     tone_tasks_df = participants[name]['ToneTasks']
#     for idx, row in tone_tasks_df.iterrows():
#         if ((row["stimulus_id"] == 1.0) and not np.isnan(row["space_ts"])):
#             print(name)
#             print(idx)
#             print('False Alarm')

In [52]:
# Plot RTs

#rt_tone = tone_tasks_df['rt']
rt_tone = high_tone_tasks_df['rt']
rt_tone = rt_tone.dropna()

# Linear regression
x_fit = []
for i in range(len(rt_tone)):
    x_fit.append(i)

slope_tone, intercept_tone = np.polyfit(x_fit, rt_tone, deg=1) # régression linéaire pour trouver la pente
x = range(len(rt_tone))
y = slope_tone*x+intercept_tone

plt.figure(figsize=(12, 6))
plt.xlabel("Tone Idx")
plt.ylabel("Reaction Time [s]")
plt.plot(x,rt_tone)
plt.plot(x, y, label='Slope = '+str(round(slope_tone,4)))

plt.legend(loc='upper right')
plt.show()

In [53]:
task_blocks = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
fig, ax = plt.subplots(figsize=(12,4))

for idx, block_idx in enumerate(task_blocks):
    sns.boxplot(x='block_idx', y='rt', data=high_tone_tasks_df[high_tone_tasks_df.block_idx.isin(task_blocks)].astype({"block_idx": int}), ax=ax)
    ax.set_xlabel("Blocks")
    ax.set_ylabel("RT [s]");

In [54]:
reduced_high_tone_tasks_df = high_tone_tasks_df.loc[(high_tone_tasks_df['block_idx'] > 12.0)]

ax = sns.countplot(x='block_idx', hue='response', data=reduced_high_tone_tasks_df.astype({"block_idx": int}))

ax.set_xlabel("Block Idx")
ax.set_ylabel("Count")
legend = ax.get_legend()
legend.set_title("Answers")
new_labels = ["Correct", "Miss"]
for t, l in zip(legend.texts, new_labels):
    t.set_text(l);

### Keyboard

In [65]:
keyboard_df['reaction_ts'] = keyboard_df['reaction_ts'] - init_time
print(keyboard_df)

            events  reaction_ts
2    SPACE pressed   525.554571
4    SPACE pressed   527.513502
6    SPACE pressed   538.065236
8    SPACE pressed   547.519416
10   SPACE pressed   560.805381
..             ...          ...
812  SPACE pressed  4602.970637
814  SPACE pressed  4612.151423
816  SPACE pressed  4622.125660
818  SPACE pressed  4627.560304
820  SPACE pressed  4629.048618

[410 rows x 2 columns]