In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib qt

import data
import mne
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt
import os
import scipy
import pingouin as pg
from os import listdir
from os.path import isfile, join

sns.set(font_scale=1)

## Loading Data

In [2]:
path = 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/'
xdf_files = [xdf for xdf in listdir(path) if isfile(join(path, xdf))]

for i in range(len(xdf_files)):
    xdf_files[i] = path + xdf_files[i]

In [3]:
xdf_files

['C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S10_2022-05-24.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S11_2022-05-30.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S12_2022-05-31.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S13_2022-06-01.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S14_2022-06-03.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S15_2022-06-07.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S16_2022-06-08.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S17_2022-06-13.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S18_2022-06-15.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S19_2022-06-15.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S20_2022-06-16.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S21_2022-06-16.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S6_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S7_2022-05-19.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S8_2022-05-20.xdf',
 'C:/Users/bribeiroriccioppo/Desktop/mental-fatigue/Raw Data/S9_2022-05-23.xdf']

In [4]:
participants = data.preprocessing(xdf_files)

Stream 5: Calculated effective sampling rate 94.9479 Hz is different from specified rate 60.0000 Hz.
Stream 5: Calculated effective sampling rate 95.2967 Hz is different from specified rate 60.0000 Hz.
Stream 4: Calculated effective sampling rate 94.8056 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 94.8889 Hz is different from specified rate 60.0000 Hz.
Stream 3: Calculated effective sampling rate 95.0246 Hz is different from specified rate 60.0000 Hz.
Stream 5: Calculated effective sampling rate 95.0075 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 94.8952 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.0526 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 94.8175 Hz is different from specified rate 60.0000 Hz.
Stream 3: Calculated effective sampling rate 94.9544 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 94.9329 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 94.9992 Hz is different from specified rate 60.0000 Hz.
Stream 1: Calculated effective sampling rate 95.1886 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.0603 Hz is different from specified rate 60.0000 Hz.
Stream 6: Calculated effective sampling rate 95.1981 Hz is different from specified rate 60.0000 Hz.
Stream 7: Calculated effective sampling rate 95.1530 Hz is different from specified rate 60.0000 Hz.

## Data

In [5]:
participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24',
                     'S11_2022-05-30', 'S12_2022-05-31', 'S13_2022-06-01', 'S14_2022-06-03','S15_2022-06-07',
                     'S16_2022-06-08', 'S17_2022-06-13', 'S18_2022-06-15', 'S19_2022-06-15', 'S20_2022-06-16',
                     'S21_2022-06-16']

In [35]:
participant = participants_list[15]
blocks_df = participants[participant]['Blocks']
math_tasks_df = participants[participant]['MathTasks']
tone_tasks_df = participants[participant]['ToneTasks']
keyboard_df = participants[participant]['Keyboard']
quest_df = participants[participant]['Questionnaire']

In [36]:
participant

'S21_2022-06-16'

### Blocks

In [37]:
init_time = blocks_df['lsl_init_ts'][0]
blocks_df['lsl_end_ts'] = blocks_df['lsl_end_ts']-init_time
blocks_df['lsl_init_ts'] = blocks_df['lsl_init_ts']-init_time

In [38]:
blocks_df

    block_idx  block_id   lsl_end_ts  lsl_init_ts
0         0.0       0.0    99.895981     0.000000
1         1.0       1.0   219.912240    99.899150
2         2.0       2.0   235.036312   219.912443
3         3.0       3.0   356.040792   235.036756
4         4.0       4.0   383.177220   356.041067
5         5.0       5.0   390.299181   383.177903
6         6.0       6.0   420.329495   390.299078
7         7.0       7.0   447.284093   420.330283
8         8.0       8.0   477.332280   447.284239
9         9.0       9.0   482.118023   477.332584
10       10.0      10.0   512.208234   482.117391
11       11.0      12.0   512.506303   512.209037
12       12.0      11.0   559.058713   512.505603
13       13.0      10.0   859.115659   559.058251
14       14.0      16.0   889.130257   859.115382
15       15.0      10.0  1189.137844   889.130229
16       16.0      16.0  1219.155009  1189.137523
17       17.0      10.0  1519.236151  1219.155107
18       18.0      16.0  1549.302367  1519.236068
19       19.0      10.0  1849.325344  1549.309749
20       20.0      11.0  1936.617566  1849.327829
21       21.0      10.0  2236.654964  1936.622260
22       22.0      16.0  2266.754540  2236.655876
23       23.0      10.0  2566.814856  2266.755967
24       24.0      16.0  2596.912619  2566.814786
25       25.0      10.0  2896.951126  2596.902498
26       26.0      16.0  2927.047065  2896.950227
27       27.0      10.0  3227.114722  2927.040833
28       28.0      11.0  3364.011180  3227.113471
29       29.0      10.0  3664.044063  3364.008551
30       30.0      16.0  3694.045139  3664.044652
31       31.0      10.0  3994.057789  3694.044263
32       32.0      16.0  4024.155923  3994.058287
33       33.0      10.0  4324.170660  4024.156671
34       34.0      16.0  4354.267232  4324.170542
35       35.0      10.0  4654.318903  4354.266889
36       36.0      11.0  4696.376693  4654.319095
37       37.0      13.0  4706.850097  4696.376760
38       38.0       1.0  4826.928275  4706.852074
39       39.0      14.0  4835.323774  4826.927949
40       40.0       3.0  4956.334671  4835.325988
41       41.0      15.0  4959.329016  4956.334688

## Plots for a single participant

## Math task

In [39]:
participant

'S21_2022-06-16'

In [40]:
math_tasks_df['lsl_end_ts'] = math_tasks_df['lsl_end_ts']-init_time
math_tasks_df['lsl_init_ts'] = math_tasks_df['lsl_init_ts']-init_time

In [41]:
math_tasks_df

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts
0          6.0       2.0      1.0   399.040718   390.299788
1          6.0       3.0      1.0   409.897675   399.040717
2          6.0       4.0      1.0   414.510338   409.898250
3          6.0       5.0     -1.0   420.329481   414.510036
4         10.0       9.0      1.0   492.389276   482.118410
..         ...       ...      ...          ...          ...
809       35.0     826.0      1.0  4649.069692  4646.853381
810       35.0     827.0      1.0  4650.700121  4649.069306
811       35.0     828.0      1.0  4652.241994  4650.700579
812       35.0     829.0      1.0  4653.807012  4652.241733
813       35.0     830.0     -1.0  4654.318869  4653.806765

[814 rows x 5 columns]

In [42]:
end_ts_df = math_tasks_df['lsl_end_ts']
init_ts_df = math_tasks_df['lsl_init_ts']

# Reaction times:
rt_math = end_ts_df - init_ts_df

# Answers:
answers = math_tasks_df['correct']

In [43]:
math_tasks_df.insert(5, "rt", rt_math, True)

In [44]:
math_tasks_df.head(50)

    block_idx  task_idx  correct  lsl_end_ts  lsl_init_ts         rt
0         6.0       2.0      1.0  399.040718   390.299788   8.740930
1         6.0       3.0      1.0  409.897675   399.040717  10.856957
2         6.0       4.0      1.0  414.510338   409.898250   4.612087
3         6.0       5.0     -1.0  420.329481   414.510036   5.819445
4        10.0       9.0      1.0  492.389276   482.118410  10.270866
5        10.0      10.0      1.0  497.676438   492.389836   5.286602
6        10.0      11.0      1.0  506.845547   497.676170   9.169377
7        10.0      12.0      1.0  511.289428   506.845266   4.444162
8        10.0      13.0     -1.0  512.208200   511.289358   0.918842
9        13.0      15.0      0.0  565.954846   559.058928   6.895917
10       13.0      16.0      1.0  575.787435   565.954935   9.832500
11       13.0      17.0      1.0  579.972917   575.787970   4.184947
12       13.0      18.0      1.0  584.979273   579.972959   5.006315
13       13.0      19.0      1.0  589.344175   584.979213   4.364963
14       13.0      20.0      1.0  592.439197   589.344237   3.094959
15       13.0      21.0      1.0  597.849341   592.438842   5.410499
16       13.0      22.0      0.0  606.377485   597.849751   8.527734
17       13.0      23.0      1.0  610.202696   606.377046   3.825649
18       13.0      24.0      1.0  615.782890   610.203373   5.579517
19       13.0      25.0      1.0  623.917057   615.782954   8.134103
20       13.0      26.0      1.0  628.912070   623.917877   4.994192
21       13.0      27.0      1.0  632.748498   628.911884   3.836614
22       13.0      28.0      1.0  636.573986   632.747752   3.826234
23       13.0      29.0      1.0  638.879944   636.574604   2.305341
24       13.0      30.0      1.0  644.201271   638.879711   5.321559
25       13.0      31.0      1.0  648.669954   644.201198   4.468756
26       13.0      32.0      1.0  652.774480   648.670096   4.104383
27       13.0      33.0      1.0  658.635493   652.774113   5.861380
28       13.0      34.0      1.0  663.293763   658.635286   4.658477
29       13.0      35.0      1.0  666.105913   663.294676   2.811237
30       13.0      36.0      1.0  674.611229   666.105076   8.506153
31       13.0      37.0      1.0  679.921906   674.612062   5.309844
32       13.0      38.0      1.0  683.802825   679.922157   3.880668
33       13.0      39.0      1.0  690.092065   683.803161   6.288904
34       13.0      40.0      1.0  694.873508   690.091909   4.781598
35       13.0      41.0      1.0  702.671297   694.873496   7.797800
36       13.0      42.0      1.0  705.178989   702.671510   2.507480
37       13.0      43.0      1.0  708.171527   705.179187   2.992340
38       13.0      44.0      1.0  728.839401   708.172387  20.667013
39       13.0      45.0      0.0  735.117716   728.839231   6.278485
40       13.0      46.0      1.0  750.149021   735.117595  15.031426
41       13.0      47.0      1.0  753.197966   750.148810   3.049157
42       13.0      48.0      1.0  755.358451   753.197986   2.160465
43       13.0      49.0      1.0  763.098246   755.358846   7.739400
44       13.0      50.0      1.0  765.696858   763.099200   2.597657
45       13.0      51.0      1.0  774.551132   765.696305   8.854827
46       13.0      52.0      1.0  777.813392   774.551262   3.262130
47       13.0      53.0      1.0  781.200123   777.812972   3.387151
48       13.0      54.0      1.0  789.232475   781.200798   8.031678
49       13.0      55.0      1.0  792.147265   789.232592   2.914673

### Plot: Math RT curve

In [45]:
false_math_idx = math_tasks_df.index[math_tasks_df['correct'] == 0.0].tolist()
# Linear regression
x_fit = []
for i in range(len(rt_math)):
    x_fit.append(i)

slope_math, intercept_math = np.polyfit(x_fit, rt_math, deg=1) # régression linéaire pour trouver la pente
# --> regarder si c'est significatif ou pas, pcq si c'est pas le cas, on peut dire que la différence n'est pas important
# mais qu'on voit voit quand mm qu'à la fin ya des cas avec des grosses amplitudes
x = range(len(rt_math))
y = slope_math*x+intercept_math
y_zeros = np.zeros(len(false_math_idx))

plt.figure(figsize=(12, 6))
plt.xlabel("Tasks")
plt.ylabel("Reaction Time [s]")
plt.plot(x, rt_math,c='b') # reaction times
#plt.plot(x,rt_math,'-o', markevery=false_math_idx,c='b')
#plt.scatter(x,answers,c='g',label="Answers: 1 = correct, 0 = false, -1 = no answer")
plt.plot(x,y,label='Slope = '+str(round(slope_math,4)),c='g') # linear regression
plt.scatter(false_math_idx, y_zeros, label='False responses', c='r') # false responses
plt.legend(loc='upper right')
plt.savefig('RT_curve_S18.png', dpi=300, bbox_inches='tight')

### Plot: Math RT boxplot

In [53]:
task_blocks = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
fig, ax = plt.subplots(figsize=(12,4))

for idx, block_idx in enumerate(task_blocks):
    sns.boxplot(x='block_idx', y='rt', data=math_tasks_df[math_tasks_df.block_idx.isin(task_blocks)].astype({"block_idx": int}), ax=ax)
    ax.set_xlabel("Blocks")
    ax.set_ylabel("RT [s]");

### Plot: Math Answers

In [47]:
reduced_math_tasks_df = math_tasks_df.loc[(math_tasks_df['block_idx'] > 12.0)]

In [48]:
reduced_math_tasks_df

     block_idx  task_idx  correct   lsl_end_ts  lsl_init_ts        rt
9         13.0      15.0      0.0   565.954846   559.058928  6.895917
10        13.0      16.0      1.0   575.787435   565.954935  9.832500
11        13.0      17.0      1.0   579.972917   575.787970  4.184947
12        13.0      18.0      1.0   584.979273   579.972959  5.006315
13        13.0      19.0      1.0   589.344175   584.979213  4.364963
..         ...       ...      ...          ...          ...       ...
809       35.0     826.0      1.0  4649.069692  4646.853381  2.216311
810       35.0     827.0      1.0  4650.700121  4649.069306  1.630816
811       35.0     828.0      1.0  4652.241994  4650.700579  1.541415
812       35.0     829.0      1.0  4653.807012  4652.241733  1.565279
813       35.0     830.0     -1.0  4654.318869  4653.806765  0.512105

[805 rows x 6 columns]

In [52]:
block_ids = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
tot_vec = []
for i in block_ids:
    tot = float(len(reduced_math_tasks_df.loc[(reduced_math_tasks_df['block_idx'] == i)]))
    tot_vec.append(tot)
 
print(tot_vec)

[50.0, 57.0, 59.0, 60.0, 69.0, 63.0, 66.0, 69.0, 66.0, 80.0, 77.0, 89.0]

In [51]:
ax = sns.countplot(x='block_idx', hue='correct', data=reduced_math_tasks_df.astype({"correct": int, "block_idx": int}))
ax.set_xlabel("Block Idx")
ax.set_ylabel("Count")
legend = ax.get_legend()
legend.set_title("Answers")
new_labels = ["Missed", "Wrong", "Right"]
for t, l in zip(legend.texts, new_labels):
    t.set_text(l);
    
total = float(len(reduced_math_tasks_df))
for i, p in enumerate(ax.patches):
    total = tot_vec[i % len(tot_vec)]
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    x = p.get_x() + p.get_width()
    y = p.get_height()
    ax.annotate(percentage, (x, y),ha='center')
plt.show()

plt.savefig('Answers_'+participant+'.png', dpi=300, bbox_inches='tight')

## Tone task

In [54]:
participant

'S21_2022-06-16'

In [55]:
tone_tasks_df['stimulus_ts'] = tone_tasks_df['stimulus_ts']-init_time
tone_tasks_df['space_ts'] = tone_tasks_df['space_ts']-init_time

In [56]:
tone_tasks_df = participants[participant]['ToneTasks']
response_tone = []

for idx, row in tone_tasks_df.iterrows():
    if ((row["stimulus_id"] == 0.0) and (np.isnan(row["space_ts"]))):
        response_tone.append('Missed')
    elif ((row["stimulus_id"] == 1.0) and not np.isnan(row["space_ts"])):
        response_tone.append('False Alarm')
    else:
        response_tone.append('Correct')
        
tone_tasks_df.insert(6, "response", response_tone, True)

In [57]:
tone_tasks_df.head(20)

,block_idx,task_idx,stimulus_ts,stimulus_id,space_ts,rt,response
0,8.0,7.0,449.025077,1.0,NaN,NaN,Correct
1,8.0,7.0,450.760866,1.0,451.719580,0.958714,False Alarm
2,8.0,7.0,452.537422,1.0,NaN,NaN,Correct
3,8.0,7.0,454.271034,1.0,NaN,NaN,Correct
4,8.0,7.0,456.009223,0.0,456.643865,0.634642,Correct
5,8.0,7.0,457.766922,0.0,458.543052,0.776130,Correct
6,8.0,7.0,459.563014,1.0,460.529207,0.966194,False Alarm
7,8.0,7.0,461.345259,1.0,462.007803,0.662545,False Alarm
8,8.0,7.0,463.128522,1.0,463.714957,0.586435,False Alarm
9,8.0,7.0,464.838791,1.0,465.561909,0.723118,False Alarm
10,8.0,7.0,466.581136,1.0,467.246136,0.665000,False Alarm
11,8.0,7.0,468.367530,1.0,468.953776,0.586246,False Alarm
12,8.0,7.0,470.076133,1.0,470.670397,0.594264,False Alarm
13,8.0,7.0,471.792540,0.0,NaN,NaN,Missed
14,8.0,7.0,473.529478,0.0,NaN,NaN,Missed
15,8.0,7.0,475.265553,1.0,476.106155,0.840602,False Alarm
16,8.0,7.0,477.025577,1.0,NaN,NaN,Correct
17,8.0,7.0,477.332267,1.0,NaN,NaN,Correct
18,10.0,8.0,483.879373,1.0,NaN,NaN,Correct
19,10.0,8.0,485.617982,1.0,NaN,NaN,Correct

In [58]:
high_tone_tasks_df = tone_tasks_df.loc[tone_tasks_df['stimulus_id']==0.0]

In [63]:
high_tone_tasks_df

,block_idx,task_idx,stimulus_ts,stimulus_id,space_ts,rt,response
4,8.0,7.0,456.009223,0.0,456.643865,0.634642,Correct
5,8.0,7.0,457.766922,0.0,458.543052,0.776130,Correct
13,8.0,7.0,471.792540,0.0,NaN,NaN,Missed
14,8.0,7.0,473.529478,0.0,NaN,NaN,Missed
24,10.0,8.0,494.328607,0.0,495.222161,0.893555,Correct
...,...,...,...,...,...,...,...
2069,35.0,741.0,4595.149848,0.0,4596.035307,0.885459,Correct
2071,35.0,741.0,4598.591122,0.0,4599.969121,1.377999,Correct
2075,35.0,741.0,4605.613383,0.0,4606.456827,0.843444,Correct
2076,35.0,741.0,4607.335291,0.0,4608.114440,0.779149,Correct
2085,35.0,741.0,4623.105566,0.0,4623.887727,0.782161,Correct

In [64]:
#high_tone_tasks_df.reset_index()

In [65]:
# participants_list = ['S6_2022-05-20', 'S7_2022-05-19', 'S8_2022-05-20', 'S9_2022-05-23','S10_2022-05-24',
#                      'S11_2022-05-30','S12_2022-05-31','S13_2022-06-01', 'S14_2022-06-03']

# for name_id in range(len(participants_list)):
#     name =  participants_list[name_id]
#     tone_tasks_df = participants[name]['ToneTasks']
#     for idx, row in tone_tasks_df.iterrows():
#         if ((row["stimulus_id"] == 0.0) and (np.isnan(row["space_ts"]))):
#             print(name)
#             print(idx)
#             print('Missed')
            
# for name_id in range(len(participants_list)):
#     name =  participants_list[name_id]
#     tone_tasks_df = participants[name]['ToneTasks']
#     for idx, row in tone_tasks_df.iterrows():
#         if ((row["stimulus_id"] == 1.0) and not np.isnan(row["space_ts"])):
#             print(name)
#             print(idx)
#             print('False Alarm')

### Plot: Tone RT curve

In [66]:
# Plot RTs

#rt_tone = tone_tasks_df['rt']
rt_tone = high_tone_tasks_df['rt']
rt_tone = rt_tone.dropna()

# Linear regression
x_fit = []
for i in range(len(rt_tone)):
    x_fit.append(i)

slope_tone, intercept_tone = np.polyfit(x_fit, rt_tone, deg=1) # régression linéaire pour trouver la pente
x = range(len(rt_tone))
y = slope_tone*x+intercept_tone

plt.figure(figsize=(12, 6))
plt.xlabel("Tone Idx")
plt.ylabel("Reaction Time [s]")
plt.plot(x,rt_tone)
plt.plot(x, y, label='Slope = '+str(round(slope_tone,4)))

plt.legend(loc='upper right')
plt.show()

### Plot: Tone RT boxplot

In [72]:
task_blocks = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
fig, ax = plt.subplots(figsize=(12,4))

for idx, block_idx in enumerate(task_blocks):
    sns.boxplot(x='block_idx', y='rt', data=high_tone_tasks_df[high_tone_tasks_df.block_idx.isin(task_blocks)].astype({"block_idx": int}), ax=ax)
    ax.set_xlabel("Blocks")
    ax.set_ylabel("RT [s]");

### Plot: Tone Answers

In [68]:
reduced_high_tone_tasks_df = high_tone_tasks_df.loc[(high_tone_tasks_df['block_idx'] > 12.0)]

In [69]:
reduced_high_tone_tasks_df

,block_idx,task_idx,stimulus_ts,stimulus_id,space_ts,rt,response
40,13.0,14.0,567.791593,0.0,568.675382,0.883788,Correct
41,13.0,14.0,569.492537,0.0,NaN,NaN,Missed
46,13.0,14.0,578.242640,0.0,579.201906,0.959266,Correct
51,13.0,14.0,587.022256,0.0,588.504917,1.482660,Correct
54,13.0,14.0,592.295148,0.0,593.356069,1.060921,Correct
...,...,...,...,...,...,...,...
2069,35.0,741.0,4595.149848,0.0,4596.035307,0.885459,Correct
2071,35.0,741.0,4598.591122,0.0,4599.969121,1.377999,Correct
2075,35.0,741.0,4605.613383,0.0,4606.456827,0.843444,Correct
2076,35.0,741.0,4607.335291,0.0,4608.114440,0.779149,Correct
2085,35.0,741.0,4623.105566,0.0,4623.887727,0.782161,Correct

In [70]:
block_ids = [13.0, 15.0, 17.0, 19.0, 21.0, 23.0, 25.0, 27.0, 29.0, 31.0, 33.0, 35.0]
tot_vec = []
for i in block_ids:
    tot = float(len(reduced_high_tone_tasks_df.loc[(reduced_high_tone_tasks_df['block_idx'] == i)]))
    tot_vec.append(tot)
 
print(tot_vec)

[46.0, 37.0, 35.0, 44.0, 33.0, 38.0, 38.0, 30.0, 30.0, 36.0, 29.0, 30.0]

In [73]:
ax = sns.countplot(x='block_idx', hue='response', data=reduced_high_tone_tasks_df.astype({"block_idx": int}))

ax.set_xlabel("Block Idx")
ax.set_ylabel("Count")
legend = ax.get_legend()
legend.set_title("Answers")
new_labels = ["Correct", "Miss"]
for t, l in zip(legend.texts, new_labels):
    t.set_text(l);
      
total = float(len(reduced_high_tone_tasks_df))
for i, p in enumerate(ax.patches):
    total = tot_vec[i % len(tot_vec)]
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    x = p.get_x() + p.get_width()
    y = p.get_height()
    ax.annotate(percentage, (x, y),ha='center')
plt.show()

### Keyboard

In [65]:
keyboard_df['reaction_ts'] = keyboard_df['reaction_ts'] - init_time
print(keyboard_df)

            events  reaction_ts
2    SPACE pressed   525.554571
4    SPACE pressed   527.513502
6    SPACE pressed   538.065236
8    SPACE pressed   547.519416
10   SPACE pressed   560.805381
..             ...          ...
812  SPACE pressed  4602.970637
814  SPACE pressed  4612.151423
816  SPACE pressed  4622.125660
818  SPACE pressed  4627.560304
820  SPACE pressed  4629.048618

[410 rows x 2 columns]